@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn-main {
    @apply bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded m-4;
  }

  .btn-danger {
    @apply bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded m-4;
  }

  .nav-item {
    @apply block py-2 pl-3 pr-4 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-orange-900 md:p-0;
  }

  .table-table {
    @apply border-collapse border-4 border-white;
  }

  .table-th {
    @apply bg-blue-600 border-4 border-white bg-opacity-25;
  }

  .table-td {
    @apply bg-blue-200 border-4 border-white bg-opacity-25;
  }
}
