<% if model.errors.any? %>
  <p><%= t('errors.message', model: model.model_name.human) %></p>
  <ul>
    <% model.errors.full_messages.each do |error_message| %>
      <li><%= error_message %></li>
    <% end %>
  </ul>
<% end %>
